<a href="https://colab.research.google.com/github/LeonUpLook2029/1DJ/blob/master/9_8_%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Функции. Домашнее задание

В домашнем задании есть обязательные и дополнительные задачи.

*Обязательные задачи* нужно сделать, чтобы проверить, что вы действительно усвоили материал модуля. Они обязательны к загрузке на проверку преподавателю.

*Дополнительные задачи* для тех, кто чувствует, что нужно ещё немного потренироваться и порешать задачки по программированию. Вы также можете загрузить их на проверку преподавателю и получить по ним обратную связь.

Удачи!

---

**Цели домашнего задания:**
1. Научиться декомпозировать код с помощью функций.
2. Попрактиковаться в использовании встроенных функций и методов.
3. Проверить понимание и умение работать с рекурсивными функциями.
4. Отработать обработку текстовых данных.

**Что входит в домашнее задание:**
1. *Обязательные задачи*:
- Конвертация валют.
- Обработка анкет.
- Факториал.
- Палиндром

2. *Дополнительные задачи*:
- Количество цифр в числе.
- Количество отличников и двоечников.
- Калькулятор.

**Критерии оценки:**
- программа выдаёт верный ответ на разных наборах входных данных;
- код читабелен: переменным даны осмысленные названия, отступы и правила расстановки пробелов соблюдены;
- код соответствует принципу DRY и декомпозирован с помощью функций.


**Как отправить задание на проверку**

Выполните задачи, сохраните изменения при помощи опции Save and Checkpoint из вкладки меню File или кнопки Save and Checkpoint на панели инструментов. Отправьте через форму на платформе итоговый файл Jupyter Notebook (в формате .ipynb) или ссылку на него.



---



---

**Обязательные задачи**

*Задача 1. Конвертация валют*

Напишите функцию `rub_to_currency`, которая переводит деньги в рублях в одну из двух валют: USD или CNY. У функции должно быть два входных параметра:
1. `rub_amount` — деньги в рублях;
2.  `currency` — валюта, в которую нужно совершить перевод. Если второй параметр не указан, по умолчанию следует считать его равным USD.

На выходе функция должна вывести на экран, сколько рублей было дано в начале и сколько денег получилось в заданной валюте. В случае с китайским юанем также нужно вывести промежуточное значение в долларах. Если на вход в `currency` приходит невалидное значение, нужно вывести на экран сообщение: «Расчёт не может быть совершён».

Декомпозируйте данную задачу на несколько функций.

Проверьте, что функция `rub_to_currency` в последующих ячейках отработала верно.

In [ ]:
# Создайте вспомогательные функции для перевода в доллар и китайский юань
# Считайте курс доллара к рублю следующим: 1USD = 70,99RUB, курс доллара к юаню: 1USD = 6,44CNY
def rub_to_usd(rub):
    rate = rub/70.99
    return rate
def rub_to_cny(rub):
    rate = rub/6,44
    return rate

In [ ]:
def rub_to_currency(rub_amount, currency='USD'):
    # функция без return
    if currency == 'USD' or currency == '':
        print(f'было:{rub_amount}RUB, стало:{rub_to_usd(rub_amount)}USD')
    elif currency == 'CNY':
        print(f'было:{rub_amount}RUB, стало:{rub_to_cny(rub_amount)}CNY')
    else:
        print('Расчёт не может быть совершён')

In [1]:
rub_to_currency(7200, 'USD')

NameError: ignored

In [ ]:
rub_to_currency(7200, 'CNY')

было:7200RUB, стало:(1200.0, 44)CNY

In [ ]:
rub_to_currency(7200, 'EUR')

Расчёт не может быть совершён

In [ ]:
rub_to_currency(7200)

было:7200RUB, стало:101.4227355965629USD

*Задача 2. Обработка анкет*

Вам выгрузили список с анкетами потенциальных клиентов, которые заинтересовались покупкой подписки на здоровую еду. Вам нужно обработать эти значения и сказать, какие анкеты подходят (а какие нет) для дальнейшего обзвона колл-центром.

Условия, которым должна удовлетворять анкета:
* Есть контактная информация: номер телефона.
* Контактный номер начинается либо с восьмёрки, либо с семёрки и состоит из десяти символов.
* Город проживания: Москва.

Пример анкеты выглядит следующим образом: `name=Аня,phone=8800234 , city=москва`. Заметьте, в значениях параметров городов, имён, номеров телефонов могут встретиться лишние пробелы. Попробуйте удалить их с помощью метода `replace`.

In [2]:
# Метод replace заменяет все вхождения строки, указанной первым аргументом, на строку, указанную вторым аргументом

# Замена восклицательного знака на пустоту
print('!!!aaaa'.replace('!',''))
# Замена а на вопросительный знак
print('!!!aaaa'.replace('a','?'))
# Замена двух восклицательных знаков на вопросительный
print('!!!aaaa'.replace('!!','?'))

aaaa
!!!????
?!aaaa

In [11]:
applications = [
         'name=Аня,phone=8800234 ,city=москва',
         'name=КОЛЯ,phone=8800900871 ,city=МОСКВА',
         'name=Валентина,phone=7950900871 ,city=волгоград',
         'name=,phone=7999901871,city=москва',
         'name=Иван,phone=7999901871,city=москва',
         'name=Инга,phone=,city=москва'

]

In [15]:
fl_phone = False
fl_city = False
fl_application = False

# функция проверки валидности номера:
def check_phone(phone):
# Контактный номер начинается либо с восьмёрки, либо с семёрки и состоит из десяти символов
    tmp_phone = phone.replace(' ','') # удаляем лишние пробелы
    if tmp_phone == '':
        return False
    else:
        phone = int(tmp_phone[0]) # извлекаем первое число!! а если нет его?

        if (phone == 8 or phone == 7) and len(tmp_phone) == 10:
            fl_phone = True
            return fl_phone

        else:
            fl_phone = False
            return fl_phone

# функция проверки города
def check_city(city):
#Город проживания: Москва
    tmp_city = city.replace(' ','') # удаляем лишние пробелы
    city = tmp_city.lower() # переводим все в нижний регистр

    if city == 'москва':
        fl_city = True
        return fl_city
    else:
        fl_city = False
        return fl_city


# функция проверки одной анкеты
def check_application(application):
    # извлечь phone от "phone=" + 6 до ",city"
    phone = application[(application.find('phone=')+6):application.find(',city')]
    #print(phone)
    # извлечь city от последнего "=" до конца
    city = application[application.rfind('='):]
    #print(city)
    if check_phone(phone) and check_city(city):

        return True
    else:
        return False

In [12]:
# функция проверки списка анкет
def find_valid_applications(applications):
    for date in applications:
        print(f'{date} --- {check_application(date)}')

Результат функции должен быть напечатан на экран в следующем виде:

In [16]:
find_valid_applications(applications)

name=Аня,phone=8800234 ,city=москва --- False
name=КОЛЯ,phone=8800900871 ,city=МОСКВА --- False
name=Валентина,phone=7950900871 ,city=волгоград --- False
name=,phone=7999901871,city=москва --- False
name=Иван,phone=7999901871,city=москва --- False
name=Инга,phone=,city=москва --- False

*Задача 3. Факториал*

Факториалом числа n называется произведение всех натуральных чисел от 1 до n.



> n! = 1 \* 2 \*...\* n

> 3! = 1 \* 2 \* 3 = 6

> 0! = 1

Напишите рекурсивную функцию нахождения факториала, где входным параметром является одно единственное число — n. Проверьте, что функция в последующих ячейках отработала верно.

In [ ]:
# Ваш код здесь
def factorial(n):
    if n == 0:
        return 1
    else:
        print(factorial(n-1), n)
        return factorial(n-1)*n

In [ ]:
factorial(1)

1 1

1

In [ ]:
factorial(0)

1

In [ ]:
factorial(4)

1 1
1 2
1 1
2 3
1 1
1 2
1 1
6 4
1 1
1 2
1 1
2 3
1 1
1 2
1 1

24

*Задача 4. Палиндром*

Палиндромом называется такое слово (или фраза), которое слева направо и справа налево читается одинаково. Нужно написать рекурсивную функцию, которая будет возвращать `True`, если слово палиндром, и `False`, если нет.

Будем считать, что пустая строка также является палиндромом.

Решение должно работать на строках без знаков препинания. Проверьте, что функция в последующих ячейках отработала верно.

In [ ]:
def palindrom(tet):

    tet1 = tet.lower()
    tet = tet1.replace(' ','')
    
    print(tet)
    tet_res = tet[::-1]
    if tet == tet_res:
        print("True")
    else:
        print("False")

In [ ]:
palindrom('saippuakivikauppias')

True

In [ ]:
palindrom('murmur')

False

In [ ]:
palindrom('В резерв')

врезерв
True

In [ ]:
palindrom('Sator Arepo tenet opera rotas')

satorarepotenetoperarotas
True



---



---

**Дополнительные задачи**

*Задача 5. Количество цифр в числе*

Напишите функцию, которая рассчитывает количество цифр в целом числе, приходящем ей на вход.

Рассмотрите два способа решения данной задачи: через строковые переменные и без использования строковых переменных.

**Пример:**
<br>
Input: `n = 1234567` 
<br>
Output: `7`

In [ ]:
# со строковой переменной
def sum_number(num):
  str_num = str(num)
  suma = 0
  for sum_n in str_num:
    suma +=int(sum_n)
  return suma

print(sum_number(120))

3

In [ ]:
# без строковой переменной
def sum_number(num):
    suma = 0
    while num > 0:
        tmp = num % 10
        suma = suma + tmp
    #убрать десяток
        num = num // 10
    return suma

print(sum_number(12042))

9

*Задача 6. Количество отличников и двоечников*

Дан список, в каждом элементе которого лежат оценки за финальный экзамен по русскому языку по одному классу. Найдите количество сдавших (оценка >= 3) и не сдавших (оценка < 3) экзамен в каждом классе, а также выведите результативность класса.

Результативность класса считается по следующей логике:
* если количество оценок 4 и 5 в классе > 95%, результативность отличная;
* если количество оценок 4 и 5 в классе < 30%, результативность плохая;
* в остальных случаях результативность средняя.

Декомпозируйте задачу с помощью функций. Добавьте возможность менять пороги результативности с помощью входных параметров.

In [ ]:
scores = [
          [2, 4, 4, 5, 2, 3, 3, 1, 1],
          [3, 4, 2, 3, 3, 1, 5, 2, 4],
          [5, 3, 3, 4, 3, 2, 3, 5],
          [4, 2, 2, 4, 2],
          [4, 3, 3, 3, 3, 3, 3],
          [2, 1, 5, 3, 5, 5],
          [4, 4, 4, 4, 5, 5],
          [4, 1, 3, 4, 1, 1]
]

def sum_pass(mark):
    value = 0
    
    for n in mark:
        if int(n) >= 3:
            value += 1
    return value


def sum_not_pass(mark):
    value = 0
    for n in mark:
        if int(n) < 3:
            value += 1
    return value


def sum_4_5(mark):
    value = 0
    for n in mark:
        if int(n) >= 4:
            value += 1
    return value



def get_info(est):
    rating1 = int(input('Введите нижний порог результативности в %:'))/100
    rating2 = int(input('Введите верхний порог результативности в %:'))/100
    for class_n in est:
        
        # количество оценок 4 и 5 в классе
        info_4_5 = sum_4_5(class_n)
        info_sum = len(class_n)

        if info_4_5/info_sum < rating1:
            #Итог по классу:Плохо
            info_rating = 'Плохо'
        elif info_4_5/info_sum > rating2:
            #Итог по классу:Отлично
            info_rating = 'Отлично'
        else:
            #Итог по классу:Удовлетворительно
            info_rating = 'Удовлетворительно'
        print(f'Количество сдавших:{sum_pass(class_n)}, Количество проваливших:{sum_not_pass(class_n)}, Итог по классу:{info_rating}')

In [ ]:
# Пример вывода

get_info(scores)

Введите нижний порог результативности в %:30
Введите верхний порог результативности в %:95
Количество сдавших:5, Количество проваливших:4, Итог по классу:Удовлетворительно
Количество сдавших:6, Количество проваливших:3, Итог по классу:Удовлетворительно
Количество сдавших:7, Количество проваливших:1, Итог по классу:Удовлетворительно
Количество сдавших:2, Количество проваливших:3, Итог по классу:Удовлетворительно
Количество сдавших:7, Количество проваливших:0, Итог по классу:Плохо
Количество сдавших:4, Количество проваливших:2, Итог по классу:Удовлетворительно
Количество сдавших:6, Количество проваливших:0, Итог по классу:Отлично
Количество сдавших:3, Количество проваливших:3, Итог по классу:Удовлетворительно

*Задача 7. Калькулятор*

На вход в ваш калькулятор из стандартного ввода приходит выражение, в котором есть только числа и операции сложения и умножения.

Нужно написать функцию, которая обрабатывает входную строку и выдаёт результат выражения на выходе.

Используйте декомпозицию с помощью функций. Проверьте, что последующие ячейки отработали верно.

In [ ]:
def separator_num(num):
    tmp_num = ''
    for i in range(0,len(num)):
        if num[i].isdigit():
            tmp_num += num[i]
        else:
            tmp_num +=','
    # in list
    list_num = tmp_num.split(',')
    return list_num

def separator_sign(num):
    sign = ''
    for i in range(0,len(num)):
        
        if not num[i].isdigit():
            sign += num[i]
    # in list
    list_sign = list(sign)
    return list_sign

def extract_expression(express):
    num = separator_num(express)
    sign = separator_sign(express)
    total = 0

# list.count(x) Возвращает количество элементов со значением x
# list.index(x, [start [, end]]) Возвращает положение первого элемента со значением x (при этом поиск ведется от start до end)
# list.pop([i])	Удаляет i-ый элемент и возвращает его. Если индекс не указан, удаляется последний элемент

# сначало числа перемножаются
    for i in range(0,sign.count('*')):
        ind = sign.index('*')
        print(num, ind, num[ind], num[ind+1])
        tmp = int(num[ind]) * int(num[ind+1])
        print(tmp, num[ind])
        num[ind] = str(tmp)  # num заменяем на произведение
        print(num)
        print(num.pop(ind+1)) # удаляем * из списка num
        print(num)
        sign.pop(ind) # удаляем * из списка символов
    print(num)
    # просто складываются
    for n in num:
        total += int(n)
    print(total)
    #return total



# + or *
    # total = int(num[0])
    # for i in range(0,len(sign)):
    #     if sign[i] == '+':
    #         total += int(num[i+1])
    #     elif sign[i] == '*':
    #         total *= int(num[i+1])


    # print(total)

In [ ]:
expression = '1+2*4*5+7*10*11'
extract_expression(expression)

['1', '2', '4', '5', '7', '10', '11'] 1 2 4
8 2
['1', '8', '4', '5', '7', '10', '11']
4
['1', '8', '5', '7', '10', '11']
['1', '8', '5', '7', '10', '11'] 1 8 5
40 8
['1', '40', '5', '7', '10', '11']
5
['1', '40', '7', '10', '11']
['1', '40', '7', '10', '11'] 2 7 10
70 7
['1', '40', '70', '10', '11']
10
['1', '40', '70', '11']
['1', '40', '70', '11'] 2 70 11
770 70
['1', '40', '770', '11']
11
['1', '40', '770']
['1', '40', '770']
811

In [ ]:
extract_expression('1+2+3+10')

['1', '2', '3', '10']
16

In [ ]:
extract_expression('1+3*2+3*10')

['1', '3', '2', '3', '10'] 1 3 2
6 3
['1', '6', '2', '3', '10']
2
['1', '6', '3', '10']
['1', '6', '3', '10'] 2 3 10
30 3
['1', '6', '30', '10']
10
['1', '6', '30']
['1', '6', '30']
37

In [ ]:
f = ['12','33']
f.pop(0)
print(f)

['33']