<a href="https://colab.research.google.com/github/LeonUpLook2029/1DJ/blob/master/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#Создание датафрейма из матрицы
data = [['Tomsk', 70],
        ['Omsk', 55]]
df = pd.DataFrame(data, columns=['city', 'code']) #columns — названия колонок

In [3]:
#из списка словарей
data = [{'city': 'Tomsk', 'code': 70},
        {'city': 'Omsk', 'code': 55}]
df = pd.DataFrame(data)

In [4]:
#из Series
df = pd.DataFrame({'city': pd.Series(['Tomsk', 'Omsk']),
                  'code': pd.Series([70, 55])})

df['city'] #обращение к столбцу ‘city’

pd.Series(['Tomsk', 'Omsk'], name='city') #создание объекта типа Series

0    Tomsk
1     Omsk
Name: city, dtype: object